.programcomponent{
    background: rgba(0,0,0,0.5);
    display: flex;
    width: 30vw;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    bottom: 12vh;
    right: 10vw;
}

.programcomponent .icon{
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px;
    justify-content: center;
}