.vscode/*
yarn.lock
node_modules/
build/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.VSCodeCounter
document/.DS_Store
document/Thumbs.db
document/db.json
document/*.log
document/node_modules/
document/.deploy*/
document/themes/Acetolog/node_modules
document/themes/Acetolog/yarn.lock
document/themes/Acetolog/acelog.js.map
h5*