.backconnect .ant-table-thead > tr > th,.backconnect .ant-table-tbody > tr > td{
    padding: 6px 16px !important;
}

.backconnect .ant-table{
    margin-top: 10px;
}

.backconnect .ant-table-wrapper{
    background: none;
}