.Remotepro .ant-tabs {
  border-radius: 10px;
}

.Remotepro table {
  width: 100%;
}

.Remotepro table thead th {
  text-align: center;
  background-color: #e6f7ff;
  padding: 10px;
  border-top: 1px #9fddf5 solid;
}

.Remotepro table tr td {
  text-align: center;
  padding: 5px 10px 4px 10px;
  border-top: 1px #9fddf5 solid;
  line-height: 26px;
}

.ant-table.ant-table-small .ant-table-tbody > tr > td{
    padding:4px
}
