.ioremote .ant-tabs{
    border-radius: 10px;
}

.ioremote table, .iostatushint table, .IOReset table, .IOWarning table{
    margin: 0 auto 0 auto;
    width: 80%;
}

.ioremote table thead th, .iostatushint table thead th, .IOReset table thead th, .IOWarning table thead th{
    text-align: center;
    background-color: #e6f7ff;
    padding: 10px;
    border-top: 1px #9FDDF5 solid;
    border-bottom: 1px #9FDDF5 solid;
}

.ioremote table tr td, .iostatushint table tr td, .IOReset table tr td, .IOWarning table tr td{
    width: 120px;
    text-align: center;
    padding: 3px 10px 3px 10px;
    border-bottom: 1px #9FDDF5 solid;
}

.ioremote .ant-select, .iostatushint .ant-select, .IOReset .ant-select, .IOWarning .ant-select{
    width: 80%;
    min-width: 85px;
}
