.place-content-l {
  width: 40%;
  height: 1000px;
  float: left;
  .place-content-lc {
    width: 86%;
    margin-left: 5%;
    padding-top: 10px;
    border: solid 1px #77ac98;
    margin-top: 8%;
    border-radius: 10px;
    position: relative;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .place-topTitle {
      position: absolute;
      // width: 20%;
      color: #3d3d3d;
      height: 30px;
      top: -25px;
      left: 3vw;
      background: #fff;
      font-size: 16px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    > div {
      width: 75%;
      .text-w {
        width: 50%;
        margin: 0 10px;
      }
    }
  }
  .place-content-lb {
    width: 90%;
    margin-left: 5%;
  }
}
.place-content-c {
  width: 28%;
  height: 1000px;
  float: left;
  table {
    box-shadow: rgb(221, 221, 221) 0px 1px 8px;
  }
  .place-content-ct {
    width: 100%;
    p {
      font-size: 16px;
      line-height: 1;
    }
  }

  .place-content-cb {
    > Button {
      margin: 6% 3%;
    }
  }
  .ant-table-tbody > tr > td {
    padding: 8px 16px;
  }
}
.place-content-r {
  margin-left: 3%;
  width: 27%;
  height: 1000px;
  float: left;
  table {
    box-shadow: rgb(221, 221, 221) 0px 1px 8px;
  }
  .place-content-rt {
    font-size: 16px;
    line-height: 1;
  }
  .place-content-rc {
    margin-top: 43px;
  }
  .place-content-rb {
      text-align: center;
    > Button {
      margin: 6% 4%;
    }
  }
  .place-moreBtn {
    margin-top: 50%;
    margin-left: 34%;
  }
  .ant-table-tbody > tr > td {
    padding: 8px 16px;
  }
}
